version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: taux_app_dev
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - .:/app
