version: '3.8'

services:
  app:
    build: .
    container_name: taux-app
    restart: always
    expose:
      - "8080"

  nginx:
    image: nginx:alpine
    container_name: taux-website
    restart: always
    expose:
      - "80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
