version: '3.8'

services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: always

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - certs:/etc/nginx/certs:rw
      - acme:/etc/acme.sh
    environment:
      - DEFAULT_EMAIL=app-service@bonbondi.com
    depends_on:
      - nginx-proxy
    restart: always

  app:
    environment:
      - GIN_MODE=release
      - PORT=8080

  nginx:
    environment:
      - VIRTUAL_HOST=taux.io,www.taux.io
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=taux.io,www.taux.io
      - LETSENCRYPT_EMAIL=app-service@bonbondi.com
    depends_on:
      - app

volumes:
  certs:
  vhost:
  html:
  acme:
