{
  "@type": ["Organization", "LocalBusiness"],
  "@id": "https://taux.io/#organization",
  "name": "TauX 拓思科技",
  "legalName": "拓思科技股份有限公司",
  "alternateName": ["拓思科技", "拓思", "TauX", "Taux"],
  "url": "https://taux.io",
  "logo": {
    "@type": "ImageObject",
    "url": "https://taux.io/static/brand/logo-on-light.png"
  },
  "image": "https://taux.io/static/brand/logo-on-light.png",
  "taxID": "60794471",
  "foundingDate": "2025-03-26",
  "email": "hello@taux.io",
  "telephone": "+886-7-6211033",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "文賢路57號2樓",
    "addressLocality": "岡山區",
    "addressRegion": "高雄市",
    "postalCode": "820",
    "addressCountry": "TW"
  },
  "areaServed": "TW",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+886-7-6211033",
    "contactType": "customer service",
    "areaServed": "TW",
    "availableLanguage": ["zh-TW", "en"]
  },
  "knowsAbout": [
    "Generative Engine Optimization",
    "生成式引擎優化",
    "AI Agent 開發",
    "資料治理",
    "軟體平台開發"
  ],
  "description": "{{ strings.org_description }}",
  "sameAs": [
    "https://github.com/taux-io",
    "https://www.facebook.com/TheAIInsight"
  ]
}
